td{
    background-color:gray;
}
.buttons{
    width:100%;
    margin: auto;
}
button{
    margin:auto;
}
table{
    width:40%;
}
html,body,table{
    height:40%;
    padding: 0,0,0,0;
    margin: auto;
}
#size{
    align-content: center;
}